/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

/*body {
    font-size: 1em;
    line-height: 1.4;
}*/

body {
    font-family: "source-sans-pro", "helvetica", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #ccc;
    text-align: left;
    line-height: 24px;
    background-image: url('../img/dots.gif');
    min-height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b69cd1;
    text-shadow: none;
}

::selection {
    background: #b69cd1;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/

hr {
    border: 0;
    border-bottom: 1px solid #333;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 60px;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul {
    -webkit-padding-start: 0;
}

html {
    height: 100%;
    width: 100%;
}

#header-bkgd {
    width: 100%;
    background-image: url('../img/cubes.gif');
    position: fixed;
    height: 300px;
    text-align: center;
    
}
	#header-bkgd.mobile {
		height: 100px;
    }

header {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 135px;
}
	header.mobile {
		top: 0px;
	}

   header .column {
        width: 50%;
        height: 180px;
        float: left;
        display: inline-block;
		text-align: center;
    }
            header.minimized .column {
                padding-top: 25px;
            }

    header .column.mobile {
        width: 100%;
        height: 40px;
        float: left;
        display: block;
        padding-top: 10px;

    }


header.minimized {
    position: fixed;
    height: 80px;
    top: 0;
    padding-top: 15px;
    z-index: 10;
}
/*.header-font-minimized {
    font-size: 28pt;
    line-height: 40px;
    padding-top: 15px;
}*/

/*hr {
    border: 0;
    border-bottom: 1px solid #302c2c;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 60px;
}*/

hr.hr2 {
    border: 0;
    border-bottom: 1px dashed #302c2c;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 60px;
}

/*::-moz-selection { background: #c39; color: #fff; text-shadow: none; }
::selection { background: #c39; color: #fff; text-shadow: none; }*/

.container {
    max-width: 960px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    
}


#header-font {
    color: #4e4949;
    font-family: "source-sans-pro", "helvetica", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36pt;
    letter-spacing: .1em;
}

#header-font.mobile {
    font-size: 20pt;
    padding-top: 15px;
}

/*#header-font.minimized {
    font-size: 30pt;
}*/

#logo-block {
    float: left;
}

#nav {
    
    color: #fff;
    font-family: "source-sans-pro", "helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

    #nav a {
        color: #262222;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
    }

    #nav a.mobile {
        padding: 4px 7px 4px 7px;;
    }

    #nav a:hover, #nav .active {
        color: #fff;
        background: #bf9e06;
    }

    #about-link {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about-link.mobile {
        padding-left: 8px;
        padding-right: 8px;
    }

    #nav.mobile {
        /*float: none;*/
        /*margin: auto;*/
        font-size: 12pt;
    }

#skills {
    font-family: "source-sans-pro", "helvetica", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 14pt;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    letter-spacing: .1em;
    max-width: 960px;
    padding-bottom: 60px;
}

    #skills li {
            display: inline-block;
            list-style: none;
        }

    #skills li.mobile {
        display: block;
        text-align: left;
        padding-bottom: none;

    }
        #skills li.separator.mobile {
            display: none;
        }

    #skills li.separator {
            width: 72px;
            height: 72px;
            background-image: url('../img/divider.png');
            background-repeat: no-repeat;
            margin-left: 40px;
            margin-right: 40px;

    }


    #intro {
        text-align: center;
        max-width: 960px;
        padding-top: 400px;
        padding-bottom: 40px;
        margin: auto;
    }

    #intro.mobile {
        display: inline-block;
        padding-top: 200px;
        padding-bottom: 20px;
    }

    #intro-block {
        text-align: left;
        display: inline-block;
        float: none;
    }

    #intro-block.mobile {
        display: block;
        float: left;


    }

    #hello-block {
        float: none;
        display: inline-block;
        padding-right: 40px;
    }

    #hello-block.mobile {
        float: left;
        display: block;
        padding-top: 0px;
        padding-bottom: 40px;
    }
        #intro-1 {
            font-family: "learning-curve", "helvetica", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 100pt;
            line-height: 40pt;
            color: #c59900;
        }

        #intro-2 {
            font-family: "source-sans-pro", "helvetica", sans-serif;
            font-style: normal;
            font-weight:200;
            text-transform: uppercase;
            font-size: 24pt;
            letter-spacing: .1em;
            line-height: 28pt;
        }

        #intro-3 {
            font-family: "lexia", "courier new", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16pt;
            line-height: 30pt;
            letter-spacing: .1em;
            
        }

.fixed {
    position:fixed;
    top: -5px;

}

.column {
    width: 50%;
    float: left;
}

.example {
    padding-bottom: 40px;
    max-width: 960px;
    margin: auto;
    padding-top: 40px;
}

/*#extra-work {
    padding-top: 60px;
    padding-bottom: 80px;
    max-width: 960px;
    text-align: center;
}
*/

#work h1:first-child {
    margin-top: 0px;
}



#img-grid img {
    padding: 10px;
    width: 220px;

}

#img-grid img.mobile {
    width: 100%;
}

h1 {
    font-family: "lexia", "courier new", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16pt;
    letter-spacing: .1em;
}

h2 {
    font-family: "source-sans-pro", "helvetica", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 12pt;
    letter-spacing: .1em;
}

h3 {
    font-family: "source-sans-pro", "helvetica", sans-serif;
    font-style: italic;
    font-weight:200;
    text-transform: uppercase;
    font-size: 24pt;
    line-height: 30pt;
    letter-spacing: .05em;
}
h4 {
    font-family: "source-sans-pro", "helvetica", sans-serif;
    font-style: italic;
    font-weight:200;
    /*text-transform: uppercase;*/
    font-size: 24pt;
    line-height: 28pt;
    letter-spacing: .05em;
    /*position: inline-block;*/
    margin-top: 0px;
    margin-bottom: 15px;
}

p {
    float: left;
    padding-right: 5px;
}

a {
    color: #fff;
    text-decoration: none;
    /* First we need to help some browsers along for this to work.
    Just because a vendor prefix is there, doesn't mean it will
    work in a browser made by that vendor either, it's just for
    future-proofing purposes I guess. */
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;

}

#other-text {
    padding-bottom: 20px;
}

#about-text {
    float: none;
    display: block;
}

#about-text.mobile {
    display: inline-block;
}

#profilepic {
    float: left;
    margin: auto;
    padding-right: 20px;
    padding-bottom: 20px;
}

#other-skills {
    padding-top: 40px;
    text-align: center;
}

#other-skills.mobile {
    text-align: left;
}


#contact-intro {
    text-align: center;
}

    #contact-text {
        text-align: left;
        display: inline-block;
        float: none;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #contact-text.mobile {
        display: block;
        float: left;


    }

    #talk-block {
        float: none;
        display: inline-block;
        padding-right: 40px;
    }

    #talk-block.mobile {
        float: left;
        display: block;
        padding-top: 0px;
        padding-bottom: 40px;
    }

#intro-4 {
            font-family: "learning-curve", "helvetica", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 80pt;
            line-height: 60pt;
            color: #c59900;
        }

a:hover {
    color: #c1aa40;
}

#view-url a{
    background: #302e2c;
    font-style: italic;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    color: #fff;
}

#view-url a:hover{
    background: #bf9e06;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    color: #fff;
    /*border-radius: 2px;*/
    
}


img {
    max-width: 100%;
}


/*.contact-bits {
    width: 260px;
    height: 100px;
    padding: 20px;
}
#contact-section {
    padding-bottom: 80px;
    text-align: center;
    font-size: 12pt;
    float: left;
    max-width: 960px;
}*/

#contact-center {
    max-width: 960px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;

}

#contact-center.mobile {
    text-align: left;
    padding-left: 0px;
}

/*#contact-imgs {
    width: 70px;
    height: 70px;
    text-align: center;
}*/

/*#contact {
    padding-bottom: 60px;
}*/

#contact-boxes {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 290px;
    display: inline-block;

}

#contact-container {
    padding-bottom: 10px;
}
#contact-container.mobile {
    text-align: left;

}

#contact-boxes.mobile {
    text-align: left;
    float: none;
    display: block;

}

#resume-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 290px;
    display: inline-block;
    text-align: left;
}

/*#resume-box .mobile {
    max-width: 960px;
    text-align: center;
}*/

#footer {
    width: 100%;
    height: 600px;
    /*background-color: #22201e;*/
    background-image: url('../img/cubes-dark2.gif');
}

#icon-sm {
    width: 60px;
    height: 60px;
    padding-right: 10px;
}



/*#image.mobile {
    max-width: 90%;
    padding-left: 0px;
    background-color: #fff;
    
}
*/
/*img .mobile {
    max-width: 90%;
    padding-left: 0px;
}*/




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
